<div class="card">
    <div class="card-header">
        {{titulo}}
    </div>
    <div *ngIf="cursos && cursos.length > 0" class="card-body">
        <div>
            <table class="table">
                <thead>
                    <th>Logo</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de Inicio</th>
                    <th>Precio</th>
                    <th>Rating</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let curso  of cursos">
                        <td><img [src]="curso.imageUrl" alt=""></td>
                        <td>{{curso.name}}</td>
                        <td>{{curso.description}}</td>
                        <td>{{curso.startDate}}</td>
                        <td>{{curso.price}}</td>
                        <td>{{curso.rating}}</td>
                        <td>
                            <AGI-course-action [curso]="curso"> </AGI-course-action>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="!cursos || cursos.length == 0" class="alert alert -info">
        algo salió mal 💔, intenta nuevamente o más tarde.
    </div>
</div>