<div class="card">
    <div class="card-header">
        {{titulo}}
    </div>
    <div *ngIf="cursos && cursos.length > 0" class="card-body">
        <div>
            <table class="table">
                <thead>
                    <th>Logo</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de Inicio</th>
                    <th>Precio</th>
                    <th>Rating</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr>
                        <td><img [src]="cursos[0].imageUrl" alt=""></td>
                        <td>{{cursos[0].name}}</td>
                        <td>{{cursos[0].description}}</td>
                        <td>{{cursos[0].startDate}}</td>
                        <td>{{cursos[0].price}}</td>
                        <td>{{cursos[0].rating}}</td>
                        <td>
                            <span style="float:left;">
                                <i class="fa fa-edit" (click)="editarCurso(cursos[0])"></i>
                            </span>
                            <span style="float: right;">
                                <i class="fa fa-trash" (click)="eliminarCurso(cursos[0])"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><img [src]="cursos[1].imageUrl" alt=""></td>
                        <td>{{cursos[1].name}}</td>
                        <td>{{cursos[1].description}}</td>
                        <td>{{cursos[1].startDate}}</td>
                        <td>{{cursos[1].price}}</td>
                        <td>{{cursos[1].rating}}</td>
                        <td>
                            <span style="float:left;">
                                <i class="fa fa-edit" (click)="editarCurso(cursos[1])"></i>
                            </span>
                            <span style="float: right;">
                                <i class="fa fa-trash" (click)="eliminarCurso(cursos[1])"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><img [src]="cursos[2].imageUrl" alt=""></td>
                        <td>{{cursos[2].name}}</td>
                        <td>{{cursos[2].description}}</td>
                        <td>{{cursos[2].startDate}}</td>
                        <td>{{cursos[2].price}}</td>
                        <td>{{cursos[2].rating}}</td>
                        <td>
                            <span style="float:left;">
                                <i class="fa fa-edit" (click)="editarCurso(cursos[2])"></i>
                            </span>
                            <span style="float: right;">
                                <i class="fa fa-trash" (click)="eliminarCurso(cursos[2])"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="!cursos || cursos.length == 0" class="alert alert-info">
        algo salió mal 💔, intenta nuevamente o más tarde.
    </div>
</div>